.catalog {
  @apply max-w-[1440px] md:max-w-[1460px] w-full mx-auto;

  &List {
    @apply grid gap-4 scroll-mx-4 md:scroll-mx-6 px-4 md:px-6;

    @screen md {
      grid-template-columns: repeat(2, 1fr);
    }

    @screen lg {
      grid-template-columns: repeat(3, 1fr);
    }

    @screen xl {
      grid-template-columns: repeat(4, 1fr);
    }

    &Scroll {
      @apply flex flex-nowrap overflow-auto pb-7;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }

      .catalogItem {
        min-width: 300px;
      }
    }
  }
}
