.navigation {
  @apply relative;

  &::before {
    @apply absolute top-0 -left-4 -right-4 block border-t border-borders-color;
    content: '';

    @screen md {
      @apply hidden;
    }
  }

  &List {
    @apply flex items-center justify-between md:justify-normal md:gap-6 lg:gap-8 pt-4 md:pt-0;
  }

  &Item {
    &:first-child {
      @apply hidden md:flex;
    }
  }

  &Logo {
    @apply pr-2 text-secondary-accent;

    svg {
      width: 103px;
      height: 18px;

      @screen md {
        height: 28px;
        width: 159px;
      }

      @screen lg {
        width: 181px;
        height: 32px;
      }
    }
  }

  &Link {
    @apply relative;
  }

  &LinkActive:not(&Logo) {
    @screen md {
      &::after {
        @apply absolute left-1/2 -translate-x-1/2 block w-4 rounded-lg bg-main-accent;
        height: 2px;
        margin-top: 8px;
        content: '';
      }
    }
  }

  &Link:not(&Logo) {
    @apply font-medium text-main-black no-underline;
  }
}
