.checkout {
  @apply w-full mx-auto md:px-6;
  max-width: 960px;

  &Heading {
    @apply mx-auto mb-8;
    max-width: 900px;
  }

  &Block {
    @apply mb-2 md:mb-4 p-4 md:p-8 lg:p-10 bg-white;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.03);

    @screen md {
      border-radius: 20px;
    }
  }

  &Products {
    @apply overflow-auto;
    max-height: 450px;

    &List {
    }

    &Item {
      @apply pb-4 border-solid border-b border-borders-color;

      & + & {
        @apply mt-4;
      }

      &:last-child {
        @apply border-none p-0;
      }
    }
  }

  &Form {
    &Fieldset {
      @apply mb-8;

      &:last-child {
        @apply m-0;
      }
    }

    &Legend {
      @apply mb-5 md:mb-6 text-xl font-semibold;
    }

    &Footer {
      @apply flex items-center justify-between py-6;

      &Total {
        @apply text-2xl;
      }
    }

    &TakeAway {
      @apply flex items-center gap-1 mb-3 text-lg;
      height: 52px;
    }
  }

  &Sum {
    @apply text-2xl;
  }

  &Success {
    @apply pt-16 text-center;
    padding-bottom: 120px;

    &Icon {
      @apply mb-8 text-main-accent;
    }

    &Heading {
      @apply mb-3 font-semibold;
      font-size: 34px;
    }

    &Text {
      @apply w-4/5 mb-7 mx-auto text-lg text-secondary-black;
    }

    &Button {
      @apply w-full mx-auto;
      max-width: 320px;
    }
  }
}
