.instagram {
  &Header {
    @apply flex justify-between items-center mb-6 md:mb-8;

    &Heading {
      @apply mb-2 md:mb-3 text-xl md:text-3xl font-semibold;
      line-height: 34px;

      @screen md {
        line-height: 42px;
      }

      @screen xl {
        font-size: 34px;
        line-height: 48px;
      }
    }

    &Caption {
      @apply xl:text-lg text-secondary-black;
      font-size: 17px;
      line-height: 24px;

      @screen xl {
        line-height: 26px;
      }
    }
  }

  &Images {
    @apply grid gap-3 md:gap-4;
    grid-template-columns: repeat(2, 1fr);

    @screen md {
      grid-template-columns: repeat(4, 1fr);
    }

    &Item {
      @apply aspect-square overflow-hidden;
      border-radius: 30px;

      &:nth-child(2) {
        grid-area: 2 / 1 / span 2 / span 2;

        @screen md {
          grid-area: 1 / 1 / span 2 / span 2;
        }

        @screen lg {
          grid-area: unset;
        }
      }

      &:nth-child(5) {
        @screen md {
          grid-area: 1 / 3 / span 2 / span 2;
        }

        @screen lg {
          grid-area: 1 / 3 / span 2 / span 2;
        }
      }
    }
  }

  &Image {
    @apply object-fill object-center w-full;
  }
}
