.categories {
  @apply grid gap-2 w-full mx-auto overflow-auto scroll-mx-4 px-4 pb-6;
  @apply md:gap-3 md:scroll-mx-6 md:px-6;
  @apply lg:gap-4;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1440px;
  -ms-overflow-style: none;
  scrollbar-width: none;

  @screen md {
    max-width: 1460px;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &Item {
  }

  &Card {
    @apply relative block py-4 px-6 overflow-hidden bg-white transition-all duration-300;
    @apply md:py-6 md:px-8;
    min-width: 230px;
    border-radius: 20px;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.03);

    @screen md {
      min-width: 284px;
      border-radius: 30px;
    }

    @media (hover: hover) {
      &:hover {
        box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.15);

        .categoriesCardArrow {
          @apply translate-x-4;
        }
      }
    }

    &Title {
      @apply mb-2 text-xl lg:text-2xl font-semibold;
    }

    &Price {
      @apply flex gap-0.5 items-end mb-4 text-main-black-50;
      font-size: 15px;

      small {
        font-size: 90%;
      }
    }

    &Arrow {
      @apply inline-flex items-center justify-center text-main-accent transition-all duration-300;
      @apply lg:w-8 lg:h-8 lg:border lg:border-solid lg:border-main-accent;
      border-radius: 15px;
    }

    &Picture {
      @apply absolute -right-8 lg:right-0 top-0 h-full w-auto;
    }
  }
}
